<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать пост</title>
</head>
<body>
<h1>Новая публикация</h1>
<a th:href="@{/posts}">Назад к списку</a>
<hr>

<form th:action="@{/posts/new}" th:object="${postDto}" method="post">
    <div>
        <label>Заголовок поста:</label><br>
        <input type="text" th:field="*{title}" style="width: 300px;"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></p>
    </div>
    <br>
    <div>
        <label>Содержимое поста:</label><br>
        <textarea th:field="*{content}" style="width: 300px; height: 100px;"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color: red;"></p>
    </div>
    <br>
    <button type="submit">Опубликовать</button>
</form>
</body>
</html>